---
layout: theme-layouts/roq-default/main
---

<style>
  .menu li .fa {
    width: 16px;
  }
  .menu li .fa-info {
    padding-left: 4px;
  }
  .search-button {
    margin-left: 15px;
    background: none;
    color: #515151;
    display: block;
    font-size: 18px;
    transition: all .35s cubic-bezier(.13,.43,.54,1.82);
  }
  .search-button i {
    margin-right: 20px;
    width: 18px;
  }
  .search-button:hover {
    color: #333030;
  }
  .search-button:hover i {
    transform: scale(1.1);
  }
  .search-result-document-title {
    color: #263959;
    font-size: 11pt;
  }
  .search-result-document-hit a {
    color: #515151;
    text-decoration: none;
    font-size: 11pt;
  }
</style>

{#search-overlay /}
{#insert /}

{#description}
<p>{site.description}</p>
{/}

<!-- Mastodon verification -->

{#footer}
<footer>
  <div id="search-button" class="search-button"><i class="fa-solid fa-magnifying-glass"></i>Search the blog</div>

  {#include partials/roq-default/sidebar-contact /}
  <a rel="me" href="https://hachyderm.io/@netobserv" style="visibility: hidden">Mastodon</a>
  <section class="support">
    <p><b>To support us, give us some stars:</b></p>
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/netobserv/network-observability-operator" data-color-scheme="no-preference: light; light: light; dark: dark;" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star NetObserv on GitHub">Star</a>
  </section>
  <section class="copyright">
    <p>Powered by <a href="https://pages.quarkiverse.io/quarkus-roq/" style="color: #515151">Roq</a></p>
  </section>
  {#include partials/roq-default/sidebar-copyright /}
</footer>
{/}
