---
layout: theme-layouts/roq-default/main
---

<style>
  .menu li .fa {
    width: 16px;
  };
</style>

{#insert /}

{#description}
<p>{site.description}</p>
{/}

{#footer}
<footer>
  {#include partials/roq-default/sidebar-contact /}
  <section class="support">
    <p><b>To support me, give me some stars:</b></p>
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/netobserv/network-observability-operator" data-color-scheme="no-preference: light; light: light; dark: dark;" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star NetObserv on GitHub">Star</a>
  </section>
  <section class="copyright">
    <p>Powered by <a href="https://pages.quarkiverse.io/quarkus-roq/">Roq</a></p>
  </section>
  {#include partials/roq-default/sidebar-copyright /}
</footer>
{/}
