
.page-share {
  visibility: hidden;
}
.admonition {
  padding: 0.5rem 1rem;
  border-left: .25em solid black;
  margin-bottom: 1rem;
  font-weight: 500;
}
.admonition-title {
  line-height: 1;
}
.admonition-title .fa {
  margin-right: 0.3rem;
}
.admonition > :last-child {
  margin-bottom: 0;
}
.admonition-info {
  border-left-color: #0969da;
}
.admonition-info .admonition-title {
  color: #0969da;
}
.wrapper {
  max-width: 1500px;
}
.post, .article-page, .page-content {
	width: 100%;
}
pre code.hljs {
  white-space: pre;
  background-color: #222;
}
p:has(>img) {
  text-align: center;
}

.giscus {
  padding: 10px;
}

.event {
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .event-content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .post-date {
      color: #333;
      font-size: 1.3rem;
      font-weight: 500;

      i {
        margin-right: 20px;
      }
    }

    .event-title {
      font-size: 1.5rem;
      font-weight: 700;
      color: #000;
      margin: 0;
      transition: color 0.2s ease;

    }

    p {
      color: #555;
      line-height: 1.6;
      margin: 0;
      font-size: 1rem;
    }

    a {
      font-weight: 600;
      text-decoration: none;
      margin-top: 10px;
      transition: color 0.2s ease;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Responsive design
@media (max-width: 768px) {
  pre {
    padding: 0;
  }

  .page-content {
    padding: 10px !important;
  }

  .event {
    padding: 15px;
  }

  .event-content {
    .event-title {
      font-size: 1.3rem;
    }

    p {
      font-size: 0.95rem;
    }
  }
}
